.trending_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px;
  justify-content: center;
}

.title {
  font-family: 'Montserrat';
  font-size: 36px;
  margin-left: 20px;
}

.trending_item {
  width: 200px;
  text-decoration: none;
  font-size: 12px;
  color: rgb(19, 19, 71);
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.32)
}

.trending_item img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.32)
}

.movie_title {
  margin-left: 5px;
}

