.searched_movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    height: 50px;
    border-radius: 5px;
    padding-bottom: 10px;
}


.movie_item {
    width: 190px;
    height: 300px;
    text-decoration: none;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.movie_title {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    color: rgb(14, 33, 108);
}



