.search_form {
    margin: 20px;
}

/* .input_field {
    padding: 10px 15px;
    width: 300px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid rgb(151, 190, 244);
} */

.input_field,
.search_btn {
	border: 1px solid #97bef4;
	border-radius: 15px 0 0 15px;
	/* margin-right: 20px; */
	padding: 10px 15px;
	flex-grow: 2;
	border-right-width: 0;
}

.search_btn {
    padding: 10px 15px;
    width: 100px;
    border-radius: 0 15px 15px 0;
    margin-right: 20px;
    border: 1px solid rgb(151, 190, 244);
    flex-grow: 0;
}

.search_btn:hover,
.serach_btn:focus {
    background-color: rgb(32, 119, 239);
    color: white;
}

.input_field:hover,
.input_field:focus,
.input_field:active {
    border: 0.5px solid rgb(32, 119, 239);
}

.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}







