.search_form {
    margin: 20px;
}

.input_field {
    padding: 10px 15px;
    width: 300px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid rgb(151, 190, 244);
}

.search_btn {
    padding: 10px 15px;
    width: 100px;
    border-radius: 15px;
    margin-right: 20px;
    border: 1px solid rgb(151, 190, 244);
}

.search_btn:hover,
.serach_btn:focus {
    background-color: rgb(32, 119, 239);
    color: white;
}

.input_field:hover,
.input_field:focus {
    border: 1px solid rgb(32, 119, 239);
}

.searched_movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.form_section {
    display: flex;
    flex-direction: column;
}







